body.light {
  --background-color: #fff;
  --text-color: #222;
}

body.dark {
  --background-color: #292a2d;
  --text-color: #a9a9b3;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  width: 90%;
  margin: auto;
  background-color: var(--background-color);
  color: var(--text-color);
}
.navbarwrap {
  border-bottom: 0.4px solid var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.navbarwrap button {
  background-color: var(--background-color);
  padding: 0.4rem 0.6rem;
  border: 0.1rem solid var(--text-color);
  border-radius: 0.3rem;
  color: var(--text-color);
  cursor: pointer;
}

/* footer css */

.footer {
  border-top: 0.4px solid var(--text-color);
  width: 90%;
  margin: auto;
  background-color: var(--background-color);
  color: var(--text-color);
}

.footerwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
